<p>
  <b><%= comment.commenter %></b>
</p>
<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Xóa', [comment.article, comment],class:"btn btn-danger",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>