<div class="container">
  <h1>Danh sách bài viết</h1>

  <%= link_to "Thêm bài viết", new_article_path, class:'btn btn-primary' %>

  <ul class="list-group">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="list-group-item">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="d-flex ">
      <div class="">
        <%= link_to "Danh sách tác giả", authors_path, class:'btn btn-success' %>
      </div>
      <div class="">
        <%= link_to "Danh sách sách", books_path, class:'btn btn-success'%>
      </div>
   </div>
</div>
