<%= form_with model: author do |form| %>
  <div class="container">
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class:'form-control' %>
    </div>
    <div>
      <%= form.submit 'Tạo tác giả mới',class: 'btn btn-success' %>
    </div>
    
  </div>
<% end %>